* {
    font-family: $quicksand;
}

body {
    overflow-x: hidden;
}

.welcome-text {
    background-color: rgba(238, 110, 115, .9);
    color: $off-white;
    margin-top: $lg;
    padding: $sm;
}

div.card-action h6 {
    color: $blue;
}

div.card-action h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-title {
    color: $teal;
    font-weight: 300;
    text-transform: uppercase;
}

.comment {
    color: $off-black;
    background-color: darken($off-white, 5%);
    border-radius: 5px;
    margin-bottom: $sm;
    padding: $xs;
}

.invalid, .invalid-text {
    color: $error-text !important;
}

textarea {
    resize: none;
}

button {
    background-color: $teal;
}

.toast-invalid {
    background-color: $error-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-valid {
    background-color: $success-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.drag-target {
    display: none;
}