footer {
    // margin-top: $md;

    ul li {
        display: inline-block;
    }

    ul li a {
        color: $off-white;
        margin-right: $sm;
    }

    ul li a:hover {
        color: $off-black;
    }

    a.domstech:hover {
        color: $off-black !important;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: justify;
    }

    footer h5:first-child, footer ul {
        text-align: center;
    }

    .footer-copyright div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $sm;
    }
}