.musics {
    h4, h5 {
        text-align: center;
        color: $teal;
    }

    .music audio {
        width: 100%;
    }

    .music {
        cursor: pointer;
    }

    p:last-child {
        color: $off-black;
    }
}