div.container.post-feed {
    background-color: $off-white;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    // box-shadow: $shadow;
    margin-top: $md;
    margin-bottom: $md;
    padding: $sm;

    h5, p, ul {
        margin-left: $md;
        margin-right: $md;
    } 

    h5 {
        color: $off-black;
    }

    video {
        width: 100%;
    }

    #comment-form button {
        background-color: $teal !important;
    }
}